<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Kola Framework</title>
<style>
html,body{background:#EEE;display:block;width:100%;height:100%;padding:0;margin:0;}
.main{width:720px;margin:80px auto;padding:40px;background:#FFF;text-align:center;line-height:26px;border-radius:8px;box-shadow:0 0 20px #CCC;}
</style>
</head>

<body>
<div class="main">
<h1>Welcom to the Kola</h1>
<h2>High performance full stack framework</h2>
</div>
</body>
</html>